@font-face {
    font-family: 'ALS Hauss';
    src: local('ALS Hauss Medium'), local('ALS-Hauss-Medium'),
        url('assets/fonts/als_hauss-medium-webfont.woff2') format('woff2'),
        url('assets/fonts/als_hauss-medium-webfont.woff') format('woff'),
        url('assets/fonts/als_hauss-medium-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ALS Hauss';
    src: local('ALS Hauss Regular'), local('ALS-Hauss-Regular'),
        url('assets/fonts/als_hauss-regular-webfont.woff2') format('woff2'),
        url('assets/fonts/als_hauss-regular-webfont.woff') format('woff'),
        url('assets/fonts/als_hauss-medium-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}