.notifications-page-wrapper
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%

    .container
        width: 1328px
        max-width: 1328px
        min-width: 1328px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        font-family: als-font-60-variable
        font-variation-settings: "wght" 400

.date-container
    width: 100%
    background: #fff
    margin: 8px 0
    border-radius: 12px
    padding: 24px 40px 32px 40px
    display: flex
    flex-direction: column
    justify-content: center
    .date-header
        font-size: 16px
        line-height: 24px
        color: #13131C
        font-variation-settings: "wght" 500

    .element
        display: flex
        flex-direction: row
        align-items: center
        margin-top: 32px
        position: relative
        .notification-icon
            height: 48px
            width: 48px
            display: flex
            justify-content: center
            align-items: center
            border-radius: 6px
            margin-right: 16px

        .info
            display: flex
            flex-direction: column

            .title
                font-size: 18px
                line-height: 26px
                color: #13131C
                font-variation-settings: "wght" 500
            .desc
                font-family: als-font-60-variable
                font-variation-settings: "wght" 400
                font-size: 14px
                line-height: 22px
                color: #13131C
                .cash
                    font-variation-settings: "wght" 500
                .blue
                    color: #567BFF
                    transition: all .2s ease-in-out
                    cursor: pointer
                    &:hover
                        color: #7996FF
        
        .date
            position: absolute
            right: 64px

        .menu-circles
            position: absolute
            right: 8px
            cursor: pointer
            svg path 
                transition: all .2s ease-in-out
            &:hover svg path
                fill: #60606B
        .active svg path
            fill: #3B3B45!important

        .context-window
            position: absolute
            right: 0
            margin-top: 115px
            z-index: 99999999999
            width: 200px
            height: 96px
            background: #FFFFFF
            box-shadow: 0px 8px 24px -4px rgba(18, 18, 28, 0.08)
            border-radius: 6px
            padding: 8px 4px
            transition: all 1s ease-in-out
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            .title
                width: 100%
                display: flex
                flex-direction: row
                justify-content: flex-start
                align-items: center
                width: 192px
                height: 40px
                cursor: pointer
                transition: all .2s ease-in-out
                font-size: 16px
                line-height: 24px
                padding: 8px 0 8px 20px
                color: #13131C
                svg
                    margin-right: 12px
                &:hover
                    background: #F6F6FA
                    border-radius: 4px
                                    
                