.order-reject
    display: flex
    flex-direction: column

.order-reject-header
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    position: relative
    &__title
        font-weight: 500
        font-size: 28px
        line-height: 35.81px
        color: #212126
        margin: 0
        display: flex
        align-items: center
        img
            margin-left: 12px
            width: 28px
    &__text
        margin-top: 2px
        font-weight: 400
        font-size: 16px
        line-height: 24px
        color: #525264
    &__icon
        position: absolute
        top: 0
        right: 28px
        width: 20px
        cursor: pointer
        display: flex
        justify-content: flex-end

.order-reject-popup
    position: absolute
    display: flex
    flex-direction: column
    background: #FFFFFF
    box-shadow: 0px 12px 24px -2px rgba(81, 89, 133, 0.12)
    border-radius: 12px
    box-sizing: border-box
    padding: 12px 0
    width: 214px
    top: 34px
    right: 28px
    z-index: 786872
    &--item
        display: flex
        flex-direction: row
        align-items: center
        padding: 12px 32px
        cursor: pointer
        &__icon
            display: flex
        &__text
            margin-left: 12px
            font-size: 16px
            font-weight: 400
            line-height: 1
            color: #212126
        &:hover
            background: #FAFAFF

.order-reject-popup.enter
    opacity: 0

.order-reject-popup.enter-active 
    opacity: 1
    transition: opacity 500ms

.order-reject-popup.exit 
    opacity: 1

.order-reject-popup.exit-active 
    opacity: 0
    transition: opacity 500ms

.order-reject-reasons
    display: flex
    flex-direction: row
    margin-top: 24px

.reject-col
    display: flex
    flex-direction: column
    &:first-child
        margin-right: 16px

.reject-reason
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    background: #F7F7FA
    border-radius: 6px
    padding: 20px 24px
    box-sizing: border-box
    width: 392px
    margin-bottom: 16px
    &:nth-child(2n)
        margin-bottom: 0
    div
        &:first-child
            display: flex
            flex-direction: column
            h3
                font-weight: 500
                font-size: 20px
                line-height: 25.58px
                color: #212126
                margin: 0 0 6px 0
            span
                font-weight: 400
                font-size: 16px
                line-height: 24px
                color: #525264
        &:last-child
            background: #FFFFFF
            border-radius: 50%
            width: 72px
            height: 72px
            display: flex
            position: relative
            padding: 6px
            div
                position: absolute
                top: 62px
                left: 14px
                background: #FFFFFF
                box-shadow: 0px 12px 12px -4px rgba(81, 89, 133, 0.1)
                border-radius: 12px
                padding: 2px 8px
                box-sizing: border-box
                width: 44px
                height: 20px
                span
                    font-size: 12px
                    font-weight: 400
                    line-height: 14.92px
                    color: #2051FF

.order-reject-btns
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    margin-top: 40px
    button
        svg
            margin-right: 8px
        height: 52px
        width: 251px
        box-sizing: border-box
        padding: 16px 32px
        background: #436CFF
        border-radius: 28px
        font-weight: 500
        font-size: 16px
        line-height: 20.46px
        color: #FFFFFF
        overflow: hidden
        outline: none
        cursor: pointer
        display: flex
        flex-direction: row
        align-items: center
        margin-right: 32px
        position: relative
    div
        display: flex
        flex-direction: row
        align-items: center
        cursor: pointer
        span
            color: #9E9EB2
            font-size: 16px
            font-weight: 500
            line-height: 20.46px
            margin-left: 8px
            transition: all .2s ease-in-out
        &:hover
            span
                color: #525264

.retry-icon
    transition: all .2s ease-in-out
    stroke: #9E9EB2

.retry-icon-hovered
    stroke: #525264

.order-reject-scroll
    &--vertical
        display: flex
        flex-direction: column
        overflow-x: hidden!important
        height: 788px

.order-reject-articles
  display: flex
  flex-direction: column
  margin-top: 32px
  &__title
    margin: 0
    color: #212126
    font-size: 28px
    font-weight: 500
    line-height: 35.81px
    text-align: center

.order-reject-articles-results
    div.scrollbar-container
        display: flex
        flex-direction: row
        width: 800px
        padding-top: 24px
        padding-bottom: 12px
    &--result
        background: #6ABC74
        border-radius: 6px
        min-width: 188px
        max-width: 188px
        height: 296px
        margin-right: 16px
        position: relative
        &__title
            font-size: 20px
            line-height: 25.58px
            font-weight: 500
            color: #ffffff
            margin: 16px 16px 0 16px
            position: relative
            z-index: 101
        &__img
            position: absolute
            bottom: 0
            z-index: 100
        &:nth-child(2)
            background: #415CBF
        &:nth-child(3)
            background: #FFD2D2
            h3
                color: #412323
        &:nth-child(5)
            background: #415CBF
        &:nth-child(6)
            background: #FFD2D2
            h3
                color: #412323
        &:last-child
            margin-right: 0
