.order-responses
    display: flex
    flex-direction: column

.responses-wrapper
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: url('../images/bg-fon.png') no-repeat
    background-size: cover

.order-responses-header
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    &--back
        position: absolute
        left: 72px
        top: 46px
        display: flex
        flex-direction: row
        align-items: center
        cursor: pointer
        span
            color: #667FFF
            font-weight: 400
            font-size: 16px
            line-height: 24px
            margin-left: 16px
            transition: all .2s ease-in-out
        &:hover
            span
                color: #9BACFF
    &__title
        color: #212126
        font-weight: 500
        font-size: 28px
        line-height: 35.81px
        margin: 0 0 2px 0
    &__text
        color: #525264
        font-size: 16px
        line-height: 24px
        font-weight: 400

.order-responses-button
    box-shadow: 0px 12px 24px -8px rgba(67, 108, 255, 0.48)
    height: 52px
    width: 200px
    box-sizing: border-box
    padding: 16px 32px
    background: #436CFF
    border-radius: 28px
    font-weight: 500
    font-size: 16px
    line-height: 20.46px
    color: #FFFFFF
    overflow: hidden
    outline: none
    cursor: pointer
    display: flex
    flex-direction: row
    position: relative
    margin: 0 auto 38px auto 
    img
        margin-left: 4px
        width: 18px

.go-back-responses-icon
    transition: all .2s ease-in-out
    stroke: #667FFF

.go-back-responses-icon-hovered
    stroke: #9BACFF

.order-responses-about
    display: flex
    flex-direction: column
    background: #FFFFFF
    box-shadow: 0px 12px 12px -4px rgba(81, 89, 133, 0.02)
    border-radius: 6px
    box-sizing: border-box
    width: 768px
    padding: 32px 56px
    margin: auto
    z-index: 99

.responses-about-info
    display: flex
    flex-direction: row
    justify-content: space-between

.about-info-person
    display: flex
    flex-direction: column
    &--essential
        display: flex
        flex-direction: row
        align-items: center
        margin-bottom: 8px
        img
            width: 24px
            margin-right: 12px
        h3
            color: #212126
            line-height: 35.81px
            font-weight: 500
            font-size: 28px
            margin: 0
    span
        color: #525264
        line-height: 24px
        font-weight: 400
        font-size: 16px
        margin-bottom: 2px
    &--action
        display: flex
        flex-direction: row
        align-items: center
        cursor: pointer
        span
            color: #667FFF
            font-weight: 400
            font-size: 16px
            margin-right: 5px
            transition: all .2s ease-in-out
        &:hover
            span
                color: #9BACFF

.about-info-person-icon
    transition: all .2s ease-in-out
    fill: #667FFF

.about-info-person-icon-hovered
    fill: #9BACFF

.about-info-stat
    display: flex
    flex-direction: row
    &--col
        display: flex
        flex-direction: column
        align-items: center
        width: 96px

        img
            width: 18px
        h3
            font-size: 20px
            line-height: 25.58px
            font-weight: 500
            color: #212126
            margin: 8px 0
            text-align: center
        span
            color: #212126
            line-height: 17.41px
            font-size: 14px
            font-weight: 400
            text-align: center
            margin-bottom: 16px

.responses-about-work
    display: flex
    flex-direction: row
    flex-wrap: wrap
    margin-top: 24px
    img
        width: 31%
        margin-top: 16px
        margin-right: 16px
        cursor: pointer
        &:nth-child(3n)
            margin-right: 0
        &:nth-child(1)
            margin-top: 0
        &:nth-child(2)
            margin-top: 0
        &:nth-child(3)
            margin-top: 0

.swiper-container
    width: 624px!important
    overflow: hidden!important
    margin: 26px auto 42px auto!important

.order-responses-carousel
    &--item
        display: flex
        flex-direction: column
        align-items: center
        opacity: .36
        transform: scale(.77)
        transition: all .2s ease-in-out
        div
            background: #FFFFFF
            box-shadow: 0px 12px 12px -4px rgba(81, 89, 133, 0.08)
            border-radius: 24px
            padding: 9px 12px
            display: flex
            flex-direction: row
            align-items: center
            box-sizing: border-box
            margin-top: -18px
            height: 36px
            img
                width: 18px
            span
                color: #212126
                line-height: 24px
                font-size: 16px
                font-weight: 400
                margin-left: 4px

.swiper-slide-active
    opacity: 1!important
    transform: scale(1)!important

.swiper-button-next, .swiper-button-prev
    display: flex!important
    padding: 0!important
    background: #FFFFFF!important
    border-radius: 4px!important
    cursor: pointer!important
    z-index: 9999999!important
    box-shadow: none!important
    -webkit-transition: all 0.2s ease!important
    transition: all 0.2s ease!important
    height: 40px!important
    width: 40px!important
    min-width: 40px!important
    box-sizing: border-box!important
    display: flex!important
    color: transparent!important
    &:hover
        box-shadow: 0px 12px 24px -8px rgba(67, 108, 255, 0.48)!important
    &::after
        margin: auto
        width: 8px
        height: 16px
        content: ''
        background: url('../images/arrow-left.png') no-repeat
        background-size: contain

.swiper-button-next
    &::after
        background: url('../images/arrow-right.png') no-repeat
        background-size: contain
